# IDE specific
.idea/
.vscode/
*/dj_venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3
env/
venv/
.venv/

**/dj_venv

### Project specific ###
settings_local.py

### OS specific ###
.DS_Store
