{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for onebook in list_all %}
            <div class="book col-md-4">
                <h2>{{ onebook.name }}</h2>
                <p>Автор: {{ onebook.author }}</p>
                <p>Дата публикации: {{ onebook.pub_date }}</p>
            </div>
            {% endfor %}
        </div>
            {% if page.has_previous %}
                <a href="{{ pub_date_previous }}">< {{ pub_date_previous }}</a>
            {% endif %}
                <!-- <a href="">{{ pub_date_next }} {{ pub_date_previous }}</a> -->
            {% if page.has_next %}
                <a href="{{ pub_date_next }}">{{ pub_date_next }} ></a>
            {% endif %}
    </div>
{% endblock %}
